html,body,div,p,h1,h3,h2,li,ul,a,img,header{
	padding:0;
	margin:0;
}
body{
	background-color:white;
	font-size: 12px;
	color: gray;
	font-family: "微软雅黑"；
}
a{
	text-decoration: none;
	color: white;

}
li{
	list-style: none;
}


.flex{
	width: 100%;
	/*overflow-y: scroll;*/
	overflow-x: hidden;
	overflow:hidden;

}



.wrap{
	width: 100%;
	margin:0 auto;
	background-color: white;
}

.img1{
	margin-top: 30px;
}
.img1 p{
    text-align: center;
}

.wrap1{
	width: 1204px;
	margin:0 auto !important;
}

.box1{
	margin-top: 20px;
}

.p-1{
	/*padding: 20px 0;*/
	padding-top: 10px;
	text-align: center;
	padding-left: 80px;
	padding-right: 80px;
}
.p-2{
	/*padding: 20px 0;*/
	padding-top: 50px;
	text-align: center;
	padding-left: 80px;
	padding-right: 80px;
}
.box1 p img{
	width:70%;
	height: auto;
}
.jytp-1{
	width: 100%;
	min-width: 1204px;
	

}
.sdjy{
	width: 1204px;
    margin:0 auto;
}
.p-y{
	padding: 30px 5px;
	position: relative;
	text-align: center;
}
.p-y1{
	/* padding: 30px 5px; */
	padding-bottom: 50px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 30px;
	position: relative;
	text-align: center;
}
.p-y1 span{
	display: inline-block;
	background-color: #283df6;
	position: absolute;
	top:-30px;
	left:35%;
	padding: 10px 25px;
	color:white;
}
.p-y span{
	display: inline-block;
	background-color: #283df6;
	position: absolute;
	top:-30px;
	left:35%;
	padding: 10px 25px;
	color:white;
}

.img2 p{
	margin-top: 20px;
	text-align: center;
}
.img2 p img{
	padding-top: 30px;
}

.kcjs{
	width: 1204px;
	margin:0px auto;
	/* padding-bottom: 80px; */

}
.tup1{
	padding-top: 20px;
}
.tup1 p{
	text-align: center;
}
.tu1{
	position: relative;
}
.qz{
	width: 249px;
	background-color:#bcbebc;
	/*opacity: 0.2;*/
	padding: 2px 0;
	color: white;
	text-align: center;
	position: absolute;
	border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    top:140px;
    left: 76px;
}


