html,body,div,p,h1,h3,h2,li,ul,a,img,header{
	padding:0;
	margin:0;
}
body{
	background-color:white;
	font-size: 12px;
	color: gray;
	font-family: "微软雅黑";
	width:100%;
	min-width:1204px;
}

a{
	text-decoration: none;
	color:white;
}

li{
	list-style: none;
}

.head{
	
	max-width: 1960px;
	min-width: 768px;
	z-index: 999;
	position: fixed;
	top: 0;
	color:black;

	background-color:white;

}

/* .banner-bg{
	margin-top:96px;
	width: 100%;
	max-height: 500px;	
} */

/* .banner-bg img{
	width: 100%;
    max-height: 500px;	
} */

.img{
	z-index: 99;
	

}
.img p{
	text-align:center;
}
.img p img{
	width: 70%;
	height: auto;
     /*line-height: 50px;*/
}

.oli{
	float: left;
	line-height: 97px;
	font-size: 14px;
	/* margin: 0 20px; */
	padding: 0 10px;
}
.aa{
	padding: 15px 20px;
	color:black;
	text-decoration: none;
}
.aa:hover{
	 /* border-bottom:2px solid red; */
	 background: #66CDCC;
	 border-radius: 20px;
	 /* padding: 5px 10px; */
     color:white;
	 text-decoration: none;
	 padding: 15px 20px;
	 transform: 2s;
}
.dropdown-menu li a{
	text-decoration: none;
}

.footer{
	width: 100%;
    margin-top: 30px;
	/*display: flex;*/
	/*margin-top: 20px;*/
	padding:30px 15px;
	min-width: 1204px;
	/*justify-content:space-between;*/
	background-color:black;
	position: relative;

}


.footer img{
	position: absolute;
	left: 255px;
}
.footer p{
       color: #fcfdf3;
       text-align: center;
       font-size: 12px;
       line-height:30px; 
}