html,body,div,p,h1,h3,h2,li,ul,a,img,header{
	padding:0;
	margin:0;
}
body{
	background-color:white;
	font-size: 12px;
	color: gray;
	font-family: "微软雅黑"；
}
a{
	text-decoration: none;
	color: white;

}
li{
	list-style: none;
}

.flex{
	width: 100%;
	/*overflow-y: scroll;*/
	overflow-x: hidden;
	overflow:hidden;

}
.item img{
	width: 100%;
	margin:0 auto;
}
.righ{
    right: 0 !important;
    left: auto !important;
     /*background-image: 0;*/
}

.ppp1{
    position: absolute;
    top:200px;
    left:200px;
    padding-top: 20px;
    font-size: 16px;
    z-index: 999;
}

.ppp1 span{
	display: block;
	line-height: 60px;
	letter-spacing: 6px;
	text-align: center;
	color: white;
}
.span1{
	font-size:40px;
}
.banner img{
	width: auto;
	/*height: 500px;
	*/
}

.gh{
	width: 1204px;
	margin:0 auto;
	text-align: center;
}
.tp{
	margin:0 auto;
	width: 1204px;
	text-align: center;
	padding-top: 40px;
}

.tp p{
	text-align: center;
}
.top-img{
	margin-top:20px;
}
.tp p img{
	border:1px solid #9999;
	 box-shadow: darkgrey 1px 1px 10px 2px ;
	 border-radius: 5px;
}