html,body,p,div,h1,h2,h3,h4,button{
	padding:0;
	margin:0;
}

html{
	font-size: 100px;
	width: 100%;
	/*height:auto;*/
	overflow-x: hidden;
}
body{
	width: 100%;
	overflow-x: hidden;
	/*height:auto;*/
	/*overflow: hidden;*/
	background-color:#F5F5F5;
	font-family: "微软雅黑"；
}
.top{
	font-size: 0.12rem;
	width:3.2rem;
	background-color: white;
	/*height: 0.69rem;*/
	display: flex;
	position: relative;
	/*padding:0 0.2rem;*/
	justify-content:space-between;
	border-bottom:0.01rem solid #9999;
}
.top p{
	line-height: 0.69rem;
	padding-left: 0.2rem;
}
.top img{
	margin-top: 0.1rem;
	width: 0.52rem;
	height: 0.52rem;
	padding-right: 0.4rem;
}
.top span{
	position: relative;
}
.top span i{
	font-size: 0.1rem;
	/*vertical-align: top;*/
	position: absolute;
	top:0.28rem;
	right: 0.3rem;
	
}
.top-1{
	background-color: white;
	width: 3.2rem;
}
.top-1 p{
	font-size: 0.12rem;
	line-height: 0.45rem;
	padding-left: 0.2rem;
	display: flex;
	justify-content: space-between;
}
.top-1 span{
	display: inline-block;
	padding-right: 0.2rem;
}
.box{
	font-size: 0.12rem;
	padding: 0.1rem 0;
}
.box p{
	text-align:left;
	padding-left: 0.2rem
}
.top-1 p i{
	font-size: 0.1rem;
	padding-right: 0.1rem;
}
.span{
	color: blue;
	font-size: 0.12rem;
}

.top-2{
	background-color: white;
	width: 3.2rem;
	margin-top:0.2rem;
}
.top-2{
	text-align: center;
	color: orange;
	font-size: 0.14rem;
	line-height: 0.4rem;
}